body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 0;
    color: #333;
}
header{
    text-align: center;
}
header img{
    width: 30%;
}
h1 {
    color: #444;
    text-align: center;
}
p {
    text-align: justify;
}